/* @font-face {
    font-family: 'SpriteGraffiti';
    src: url('./fonts/Sprite Graffiti.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  
  }
  .sprite-graffiti-font {
    font-family: 'SpriteGraffiti', sans-serif;
  }
   */

   
.playfair-display-navfont {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.link-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* hide underline initially */
.link-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 10px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='20'><path d='M0 15 Q50 5 100 15 T200 15' stroke='%238B4513' stroke-width='4' fill='transparent' stroke-linecap='round'/></svg>");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

/* show underline on hover */
.link-underline:hover::after {
  transform: scaleX(1);
}
